table {
  width: 80%;
  margin: 5% auto 0;
}
.static-height {
  height:250px;
  max-height:250px;
}

thead th {
  width: 70px;
  max-width: 70px;

}

.pagination .pull-right {
  display: flex;
  height: 35px;
}
.search-page {
  width: 200px;
  display: flex;
}
.search-page button, .search-page input {
  border-radius: 0;
}
.search-page input {
  height: 100%;
}
.funnel-btn {
  background: transparent url(../../../assets/funnel.png) no-repeat 0 50%;
  width: 20px;
  height: 20px;
  border: 0;
  float: right;
}

.funnel-text {
  width: 70%;
  height: 20px;
}

.funnel-header {
  position: absolute;
}
