
<h1>
  {{html.title}}
</h1>
<button type="button" class="btn btn-success btn-lg" [routerLink]="['/add']">{{html.btnAddTitle}}</button>
<table class="table table-bordered">
  <thead>
  <tr>
    <th *ngFor="let header of headers">{{header}}</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoList">
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.done? 'Yes' : 'No'}}</td>
      <td> <a [routerLink]="['/details', todo.id]">Details</a> </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary" [disabled]="(currentPage == 1 || pagesSize == 0)" (click)="prevPage()" >Prev</button>
    <button *ngFor="let page of pagesSizeArray" [disabled]="(currentPage == page)" (click)="setPage(page)" type="button" class="btn btn-primary">{{page}}</button>
    <button type="button" class="btn btn-primary" [disabled]="(currentPage == pagesSize || pagesSize == 0)"  (click)="nextPage()" >Next</button>
  </div>
</div>
