
<h1>
  {{html.title}}
</h1>
<button type="button" class="btn btn-success btn-lg" [routerLink]="['/add']">{{html.btnAddTitle}}</button>
<div class="static-height">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th *ngFor="let header of headers">
        <div  *ngIf="(header === 'Id' || header === 'Title' || header === 'Complete' )" class="funnel">
          <div class="funnel-header" *ngIf="!hiddenInputs.has(header)">
            {{header}}
          </div>
          <input type="button" class="funnel-btn" (click)="showOrHideInput(header)">
          <input type="text" class="funnel-text" *ngIf="hiddenInputs.has(header)" (keyup)="findByValue(header, $event.target.value)">
        </div>

      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of paginatedTL">
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.complete? 'Yes' : 'No'}}</td>
      <td> <a [routerLink]="['/details', todo.id]">{{html.details}}</a> </td>
      <td> <a [routerLink]="['/remove', todo.id]">{{html.remove}}</a> </td>
      <td> <a [routerLink]="['/edit', todo.id]">{{html.edit}}</a> </td>
    </tr>
    </tbody>
  </table>
</div>
<p *ngIf="pagesSize == 0">
  No elements on the page :(
</p>
<div class="pagination" *ngIf="pagesSize <= 10 && pagesSize > 0">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary" [disabled]="(currentPage == 1)" (click)="prevPage()" >Prev</button>
    <button *ngFor="let page of pagesSizeArray" [disabled]="(currentPage == page)" (click)="setPage(page)" type="button" class="btn btn-primary">{{page}}</button>
    <button type="button" class="btn btn-primary" [disabled]="(currentPage == pagesSize)"  (click)="nextPage()" >Next</button>
  </div>
</div>
<div class="pagination" *ngIf="pagesSize > 10">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary" [disabled]="(currentPage == 1)" (click)="prevPage()" >Prev</button>
    <button *ngFor="let page of pagesSizeArray.slice(0, 4)" [disabled]="(currentPage == page)" (click)="setPage(page)" type="button" class="btn btn-primary">{{page}}</button>
    <div class="search-page" *ngIf="showSetPageInput">
      <input type="number" [min]="1" [max]="pagesSize" class="form-control" placeholder="Page..."
             #pageInput (keyup)="setPage(pageInput.value)" (change)="setPage(pageInput.value)">
      <button class="btn btn-danger" type="button" (click)="showSetPageInput = !showSetPageInput">x</button>
    </div>
    <button type="button" class="btn btn-primary" (click)="showSetPageInput = !showSetPageInput" *ngIf="!showSetPageInput" #show_input >...</button>
    <button *ngFor="let page of pagesSizeArray.slice( pagesSizeArray.length - 4, pagesSizeArray.length)" [disabled]="(currentPage == page)" (click)="setPage(page)" type="button" class="btn btn-primary">{{page}}</button>
    <button type="button" class="btn btn-primary" [disabled]="(currentPage == pagesSize)"  (click)="nextPage()" >Next</button>
  </div>
</div>

