<h1>
  {{html.title}}
</h1>
<table class="table table-bordered">
  <tbody>
    <tr *ngFor="let todo of todoDetails">
      <td class="text">{{todo.key}}</td>
      <td>{{todo.value}}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-xs-4">
    <button type="button" class="btn btn-default btn-lg" [routerLink]="['/todo-list']">{{html.home}}</button>
  </div>
  <div class="col-xs-4">
    <button type="button" class="btn btn-warning btn-lg" [routerLink]="['/edit', id]">{{html.edit}}</button>
  </div>
  <div class="col-xs-4">
    <button type="button" class="btn btn-danger btn-lg" [routerLink]="['/remove', id]">{{html.remove}}</button>
  </div>
</div>
